<html>
  <head lang="en">
    <meta charset="UTF-8" />

    <style>
      #MainDiv {
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
      }

      #EncompassingDiv {
        border: 2px solid #eeefec;
      }

      .horizontalThickBar {
        border-top: solid 4px black;
        width: 100%;
        text-align: center;
      }

      .horizontalThinBar {
        width: 100%;
        text-align: center;
        border: none;
        height: 1px;
        color: #eeefec;
        background-color: #eeefec;
      }

      .centerable {
        text-align: center;
        color: #555559;
        font-family: Arial, sans-serif;
        font-size: 1.05em;
      }

      .container {
        text-align: center;
      }

      .padded {
        padding: 1em;
      }

      .textie {
        color: #555559;
        font-family: Arial, sans-serif;
        font-size: 1.05em;
        /* text-align: left; */
      }

      .dataHeader {
        font-weight: bold;
        float: left;
      }

      .dataVal {
        float: left;
      }

      .wrapper {
        overflow: hidden;
      }

      .button {
        color: #ffffff;
        background-color: #131f28;
        border: 20px solid #131f28;
        border-left: 20px solid #131f28;
        border-right: 20px solid #131f28;
        border-top: 10px solid #131f28;
        border-bottom: 10px solid #131f28;
        border-radius: 3px;
        text-decoration: none;
      }

      .margined {
        margin: 1em;
      }

      table {
        margin-left: auto;
        margin-right: auto;
      }

      td {
        text-align: left;
      }
      .action-button {
        width: 150px;
        font-family: "Barlow Semi Condensed", sans-serif;
        display: inline-block;
        background: #3a96b8;
        font-size: 18px;
        color: white;
        border: 0 none;
        border-radius: 10px;

        cursor: pointer;
        padding: 10px 0px;
        margin: 10px 10px;

        padding: 15px;
      }

      a {
        text-decoration: none;
        color: white;
      }
    </style>
  </head>

  <body>
    <div id="MainDiv">
      <div id="EncompassingDiv">
        <div id="TopDiv" class="centerable">
          <a href="https://kmrauto.web.app">
            <img
              class="top-image"
              src="https://www.crystal-system.eu/wp-content/uploads/Final_LOGO_RE.png"
              width="180vmax"
              alt=""
            />
          </a>
          <!-- Own Energy -->
        </div>

        <hr class="horizontalThickBar" />

        <div id="MiddleDiv" class="centerable padded">
          <div
            id="MidofMiddle"
            class="textie"
            style="margin-left: 15%; margin-right: 15%"
          >
            <h1>Account Created</h1>
            <p>Hi <%= userName %>, an account has been created for you.</p>
            <p>
              To finish setting up your account, click the link below.<br />
              <a href="<%= link %>">
                <div class="action-button">Login to application</div>
              </a>
            </p>
          </div>
        </div>

        <hr class="horizontalThickBar" />

        <br />
        <div id="BottomDiv" class="centerable" style="font-size: x-small">
          <strong>
            <a href="https://www.crystal-system.eu/" style="color: black">Crystal Test App</a>
          </strong>
        </div>

        <br />
      </div>
    </div>
  </body>
</html>
